.container {
    display: flex;
    flex-direction: column;
}

.imageComtainer {
    display: flex;
    gap: 2em;
    flex-direction: column;
    background-color: #fff;
    border-bottom: 1px solid var(--border-color);
    padding: 1em;
    min-height: 300px;
    justify-content: space-between;
}
.cardNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.shareBtn {
    background-color: transparent;
    margin-right: 1em;
}

.imageComtainer img {
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
}

.priceAndTitle {
    padding: 0.5em;
    display: flex;
    flex-direction: column;
}
.title {
    margin-bottom: 1em;
}
.price {
    font-weight: 900;
    font-size: 1.4rem;
}
.rate {
    display: flex;
    align-items: center;
}
/* .rate p {
    margin-left: 0.5em;
} */
.reviews {
    font-size: 0.8rem;
    margin-left: 0.5em;
    opacity: 0.6;
}

.description {
    font-size: 0.7rem;
    padding: 1em;
    opacity: 0.5;
}

.btns {
    width: 100%;
    padding: 0 0.5em;
}
.buy {
    font-size: 1.2rem;
    background-color: transparent;
    color: var(--them-color);
}

@media (min-width: 900px) {
    .buy {
        cursor: pointer;
    }
}
