.imageComtainer {
    display: flex;
    gap: 2em;
    flex-direction: column;
    background-color: #fff;
    border-bottom: 1px solid var(--border-color);
    padding: 1em;
}

.imageComtainer img {
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
}

.priceAndTitle {
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.priceAndTitle p:last-child {
    color: var(--them-color);
}
.description {
    font-size: 0.8rem;
    padding: 1em;
    opacity: 0.5;
}

.btns {
    width: 100%;
    padding: 0 0.5em;
    position: fixed;
    bottom: 0;
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3em;
}
.buy {
    margin-left: 0.2em;
    font-size: 1.5rem;
    background-color: transparent;
    background-color: var(--them-color);
    color: #fff;
    width: 90%;
    padding: 0.2em;
    border-radius: 10px;
}

@media (min-width: 900px) {
    .buy {
        cursor: pointer;
    }
}
