.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.5em 1em;
    border-radius: 10px;
    border-bottom: 1px solid var(--border-color);
    background-color: #fff;
}

.cell {
    display: flex;
    flex: 1;
    align-items: center;
    padding: 0.5em;
    flex-direction: column;
    gap: 0.3em;
}
.cell button {
    background-color: #fff;
    border: 1px solid var(--border-color);
    padding: 0.3em;
    border-radius: 5px;
    min-width: 4em;
}
.cell button:first-child {
    color: red;
}

.title {
    width: 100px;
    font-size: 0.7rem;
}

.price {
    width: 3em;
    font-size: 0.8rem;
}

.container img {
    width: 2em;
    height: auto;
}
