.form {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1em;
    height: 70dvh;
    max-width: 400px;
    margin: auto;
    justify-content: center;
}

.inputs {
    width: 100%;
    border: 1px solid var(--border-color);
    background-color: #fff;
    margin-bottom: 0.5em;
    border-radius: 10px;
    display: flex;
    overflow: hidden;
}
.inputs input {
    width: 100%;
    padding: 1em;
}
.inputs button {
    background-color: transparent;
    padding: 1em;
    opacity: 0.8;
}

.form p {
    font-size: 0.8rem;
    margin-bottom: 1em;
    opacity: 0.7;
}

.submit {
    width: 100%;
    padding: 1em;
    margin-bottom: 0.5em;
    border-radius: 10px;
    background-color: var(--them-color);
    color: #fff;
    margin-top: 2em;
}
.form h4 {
    margin-bottom: 2em;
    font-size: 1.6rem;
}
