.header {
    background-color: var(--background-color);
    border-bottom: 1px solid var(--border-color);
    padding: 1em 0.5em;
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header p {
    text-transform: capitalize;
    font-size: 1.1rem;
}
.addminBtn {
    width: 2em;
    height: 2em;
    border-radius: 10px;
    border: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    background-color: #fff;
}

.footer {
    width: 95%;
    max-width: 400px;
    padding: 0.8em;
    position: fixed;
    bottom: 0.3em;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 17px;
    box-shadow: 2px -2px 4px #00000011;
    background-color: #fff;
    border: 1px solid var(--border-color);
}
.footer div {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.3em;
}
.footerBtn {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 4em;
    gap: 0.4em;
    max-height: 40px;
    position: relative;
}
.count {
    background-color: red;
    position: absolute;
    top: -8px;
    right: 14px;
    width: 2px;
    font-size: 1.2rem;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    padding: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.footerBtn:not(.active) span {
    font-size: 0.6rem;
}

.icons {
    font-size: 1.2rem;
}
